//! --------------------------------------------------------------------
//! Миксин для шрифтов -------------------------------------------------
//! --------------------------------------------------------------------

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "fonts";
@import "header";
@import "footer";

@import "index/style.scss";
@import "profile/style.scss";
@import "advice/style.scss";


//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li { 
    list-style-type: none;
}
button {
    border: none;
}
input{
    outline: none;
}
ol, ul {
    padding-left: 0;
}
.containers {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
}
.display-n {
    display: none;
}