<footer class="footer">
    <div class="containers">
        <div class="footer__block">
            <a href="#" class="footer__block-up">@@include('../iconsprite/footer/arrow-up.svg')</a>
            <div class="footer__block-info">
                <div class="footer__block-info-logo">@@include('../iconsprite/footer/logo.svg')</div>
                <div class="footer__block-info-rights">Copyright © 2021. Tracklove. Все права защищены</div>
                <ul class="footer__block-info-contact">
                    <li class="footer__block-info-contact-facebook">
                        @@include('../iconsprite/footer/facebook.svg')
                    </li>
                    <li class="footer__block-info-contact-twitter">
                        @@include('../iconsprite/footer/twiter.svg')
                    </li>
                    <li class="footer__block-info-contact-instagram">
                        @@include('../iconsprite/footer/instagram.svg')
                    </li>
                </ul>
            </div>
            <ul class="footer__block-service">
                <div class="footer__block-service-item">Сервис</div>
                <div class="footer__block-service-item"><a href="#">Instagram</a></div>
                <div class="footer__block-service-item"><a href="#">Vkontakte</a></div>
                <div class="footer__block-service-item"><a href="#">Tinder</a></div>
            </ul>
            <ul class="footer__block-catalog">
                <div class="footer__block-catalog-item">Категории</div>
                <div class="footer__block-catalog-item"><a href="#">Главная</a></div>
                <div class="footer__block-catalog-item"><a href="#">Блог</a></div>
                <div class="footer__block-catalog-item"><a href="#">С чего начать</a></div>
            </ul>
        </div>
    </div>
</footer>