<header class="header">
    <div class="containers">
        <div class="header__block">
            <div class="header__block-logo"><a href="index.html">@@include('../iconsprite/header/logo.svg')</a></div>
            <ul class="header__block-list">
                <li class="header__block-list-item">
                    <a href="#">Главная</a>
                </li>
                <li class="header__block-list-item">
                    <a href="#">Сервисы</a>
                </li>
                <li class="header__block-list-item">
                    <a href="#">С чего начать ?</a>
                </li>
                <li class="header__block-list-item">
                    <a href="#"></a>
                </li>
                <li class="header__block-list-item">
                    @@include('../iconsprite/header/menu.svg')
                </li>
            </ul>
        </div>
    </div>
</header>