<div class="menu">
    <div class="menu__block">
        <div class="menu__block-close menu-close">
            @@include('../iconsprite/header/close.svg')
        </div>
        <div class="menu__block-title">Сервисы</div>
        <ul class="menu__block-platform">
            <li class="menu__block-platform-instagram">
                @@include('../iconsprite/header/instagram.svg')
                <div class="menu__block-platform-instagram-text">
                    <div class="menu__block-platform-instagram-title">INSTAGRAM</div>
                    <div class="menu__block-platform-instagram-link">анализ <br>
                        активности</div>
                </div>
            </li>
            <li class="menu__block-platform-vk">
                @@include('../iconsprite/header/vk.svg')
                <div class="menu__block-platform-vk-text">
                    <div class="menu__block-platform-vk-title">VK</div>
                    <div class="menu__block-platform-vk-link">анализ <br>
                        активности</div>
                </div>
            </li>
            <li class="menu__block-platform-tinder">
                @@include('../iconsprite/header/tinder.svg')
                <div class="menu__block-platform-tinder-text">
                    <div class="menu__block-platform-tinder-title">Tinder</div>
                    <div class="menu__block-platform-tinder-link">анализ <br>
                        активности</div>
                </div>
            </li>
        </ul>
        <div class="menu__block-hr"></div>
        <div class="menu__block-blog">Популярное в блоге</div>
        <div class="menu__block-slider">
            <div class="swiper menuSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Почему женщинам следует перестать так яростно...</div>
                    <div class="swiper-slide">ТОП-5 лайфхаков, как стать довольной женой</div>
                    <div class="swiper-slide">Почему женщинам следует перестать так яростно...</div>
                    <div class="swiper-slide">ТОП-5 лайфхаков, как стать довольной женой</div>
                    <div class="swiper-slide">Почему женщинам следует перестать так яростно...</div>
                    <div class="swiper-slide">ТОП-5 лайфхаков, как стать довольной женой</div>
                    <div class="swiper-slide">Почему женщинам следует перестать так яростно...</div>
                    <div class="swiper-slide">ТОП-5 лайфхаков, как стать довольной женой</div>
                </div>
            </div>
            <div class="swiper-controls">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="menu__block-hr"></div>
        <div class="menu__block-account">Аккаунт</div>
        <div class="menu__block-block">
            <p>@dominic.ement</p>
        </div>
    </div>
</div>
<header class="header">
    <div class="containers">
        <div class="header__block">
            <div class="header__block-logo"><a href="index.html">@@include('../iconsprite/header/logo.svg')</a></div>
            <ul class="header__block-list">
                <li class="header__block-list-item">
                    <a href="#">Главная</a>
                </li>
                <li class="header__block-list-item">
                    <a href="#">Сервисы</a>
                </li>
                <li class="header__block-list-item">
                    <a href="#">С чего начать ?</a>
                </li>
                <li class="header__block-list-item">
                    <a href="#"></a>
                </li>
                <li class="header__block-list-item menu-open">
                    @@include('../iconsprite/header/menu.svg')
                </li>
            </ul>
        </div>
    </div>
</header>
